body{
    background-image: url("/office.jpg");   
}
img#logo{
    margin-left: -1cm;
    margin-right: auto;
    width: 24%;
    margin-top: -0.4cm;
    margin-bottom: -0.6cm;
    vertical-align: bottom;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(199, 202, 202, 0.781);
    margin-top: -0.8cm;
    margin-left: -0.2cm;
    margin-right: -0.2cm;
}
li{
    display: inline-flex;
    margin-inline-end: 0.7cm;
    margin-inline-start: 0.7cm;
}
#quem_somos{
    background-color: rgba(0, 0, 0, 0.897);
    color: white;
    width: 20cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2cm;
    margin-bottom: 4cm;
}
h1, h2{
    font-size: 40px;
    margin-inline-start: 1cm;
    margin-inline-end: 1cm;
}
p{
    font-size: 25px;
    margin-inline-start: 1cm;
    margin-inline-end: 1cm;
    text-align: justify;
}
#contato{
    background-color: rgba(0, 0, 0, 0.897);
    color: white;
    width: 15cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2cm;
    margin-bottom: 4cm;
}
label{
    display: inline-block;
    font-size: 22px;
    margin-inline-end: 1cm;
    margin-inline-start: 1cm;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
input{

    margin-inline-start: 1cm;
    margin-inline-end: 1 cm;
    font-size: larger;
    background-color: rgba(204, 207, 209, 0.877);
    color: black;
    width: 10cm;
}
#mens{
    height: 5cm;
}
input#mensagem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: azure;
    font-size: 25px;
    width: 3cm;
    height: auto;
    background-color: rgb(84, 97, 117);
}
footer{
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}